//
// Variable overrides
//

$global-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;



//
// Import PrimoCSS framework
//

@import '../../node_modules/primocss/scss/primocss';


* {

  + hr {
    margin-top: $global-spacing-unit-lg;
  }
}

//
// Documentation styles
//

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-navy;
  font-weight: $font-weight-rg;

  padding: {
    top: $global-spacing-unit-sm;
  }

  small {
    color: $color-grey;
  }
}

p {

  + * {

    margin: {
      top: calc(#{$global-spacing-unit} / 4 * 6);
    }
  }
}

a {

  // Applies a blue outline for accessibility
  &:focus {
    border-radius: 2px;
    box-shadow: 0 0 5px rgba($color-blue, .2);
    outline: 1px solid $color-blue;
    outline-offset: 4px;
  }
}

hr {
  border: {
    color: $color-grey-lighter;
    style: solid;
    width: 1px;
  }

  margin: {
    top: $global-spacing-unit-xl;
  }

  + * {
    margin-top: $global-spacing-unit-lg;
  }
}

// Removes all borders from strip classes
.strip {
  border: 0;
}

.flex-container {
  flex-direction: row;
  height: 100%;

  @include set-breakpoint-min(lg) {
    display: flex;
  }

  // Content container houses all content in the docs and has the ability to
  // scroll
  &__content {
    background: rgba(lighten($color-navy-light, 65%), .1);
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }

  // The sidebar is ridged and aside to the content block
  &__sidebar {

    border: {
      right: 0;
    }

    flex: 0 0 auto;
    max-width: 100%;
    width: 100%;

    @include set-breakpoint-min(lg) {
      border: {
        right: 1px solid $color-grey-lighter;
      }

      box-shadow: 1px 0 20px 1px rgba($color-grey-darkest, .06);
      max-width: 300px;
    }

    @include set-breakpoint-min(xl) {
      max-width: 380px;
    }
  }
}

//
// Box pattern
//

.box {
  padding: $global-spacing-unit;
  border-radius: $global-border-radius;

  &--panel {
    background: $color-white;
    border: 1px solid $color-grey-lighter;
    box-shadow: 0 1px 20px 1px rgba($color-grey-darkest, .06);
    padding: $global-spacing-unit-lg;
  }
}

//
// Sidebar pattern
//
// This is to be used as the primary navigation for the PrimoCSS docs theme
//

.sidebar {

  &__logo {
    border: {
      bottom: 1px solid $color-grey-lighter;
    }

    color: $color-navy;
    padding: $global-spacing-unit;

    @include set-breakpoint-min(lg) {
      padding: $global-spacing-unit-xl;
    }
  }

  &__nav {
    margin: 0;

    &-list {
      list-style: none;
      padding: 0;

      .sidebar__nav-list {
        padding-left: $global-spacing-unit;
      }
    }

    &-group {
      border: {
        bottom: 1px solid $color-grey-lighter;
      }

      margin: 0;
    }

    &-title {
      @include font-size(18px);
      border: 0;
      border-radius: 0;
      color: $color-navy;
      background: none;
      font-weight: $font-weight-rg;
      padding: $global-spacing-unit $global-spacing-unit $global-spacing-unit $global-spacing-unit-xl;
      position: relative;
      text-align: left;
      width: 100%;

      @include set-breakpoint-max(lg) {
        padding-left: $global-spacing-unit;
      }

      &:hover {
        background-color: rgba(lighten($color-navy-light, 65%), .3);
        color: $color-navy;
      }

      &:focus {
        background-color: $color-transparent;
        box-shadow: 2px 2px 5px rgba($color-blue, .2);
        outline: 1px solid $color-blue;
        outline-offset: -1px;

        &:after {
          color: $color-blue;
        }
      }

      &:after {
        @include pseudo($content: '+');
        background-color: $color-grey-lighter;
        border-radius: $global-border-radius;
        color: $color-grey-dark;
        height: 27px;
        padding: 0 $global-spacing-unit-xs;
        right: $global-spacing-unit;
        text-align: center;
        top: $global-spacing-unit;
        width: 27px;
      }

      // When selected using aria-selected changes the '+' to a '-'
      &[aria-selected="true"] {

        &:after {
          @include pseudo($content: '-');
          background-color: $color-blue;
          color: $color-white;
        }
      }
    }

    &-section {
      border: {
        bottom: 0;
        left: 0;
        right: 0;
        top: 1px solid $color-grey-lighter;
      }

      margin: 0;
      padding: $global-spacing-unit $global-spacing-unit $global-spacing-unit $global-spacing-unit-xl;

      @include set-breakpoint-max(lg) {
        padding-left: $global-spacing-unit;
      }
    }

    &-link,
    &-link:link {
      text-decoration: none;

      // Applies active state using aria-current
      &[aria-current="page"] {
        color: $color-grey-darkest;
        font-weight: $font-weight-sb;
      }
    }
  }
}
